{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>

	<link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    </head>

    <body>

        <div class="header">шапка</div>
        <div class="clearfix">
        <div class="notes">
            <div class="inner-notes">
            {% for p in menu %}
                <a href="{% url p.url %}"><button><h3>{{ p.title }}</h3></button></a>
            {% endfor %}
            </div>
        </div>
        <div class="content">
            <div class="inner-content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        </div>
        <div class="footer">
            <div class="inner-footer">Фуутер</div>
        </div>

    </body>
</html>