{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    <link rel="shortcut icon" href="{% static 'main/images/logo.ico' %}" type="image/x-icon"/>
	<link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    </head>

    <body>
        <div class="header">
            <img src="{% static 'main/images/logo.png' %}">
            {% if request.user.is_authenticated %}
            <div>{{ user.username }} | <button class="buttons"><a href="{% url 'logout' %}">Выйти</a></button></div>
            {% else %}
            <div class="user-block">
                <a href="{% url 'login' %}"><button class="buttons">Войти</button></a>
                <a href="{% url 'registration' %}"><button class="buttons">Зарегистрироваться</button></a>
            </div>
            {% endif %}
        </div>
        <div class="clearfix">
        <div class="notes">
            <div class="inner-notes">
            {% for p in menu %}
                <li><a href="{% url p.url %}"><button class="buttons"><h3>{{ p.title }}</h3></button></a></li>
            {% endfor %}
            </div>
        </div>
        <div class="content">
            <div class="inner-content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        </div>
        <div class="footer">
            <div class="inner-footer">Фуутер</div>
        </div>

    </body>
</html>