.main {
    display: flex;
    justify-content: flex-start;
    height: 300px;
}

.reg-form {
    background-color: #735CDD;
    width: 40%;
    border-radius: 20px;
    padding: 10px;
    padding-left: 25px;
    font-size: 120%;
}


.empty-block {
    width: 30%;
}

.up-empty-block {
    height: 200px;
}

.button {
    border-radius: 12px;
    border-style: none;
    margin-top: 5px;
    background-color: white;
    text-align: left;
}

.button:hover {
      background-color:#ccc6c6;
      transition: 0.7s;
 }

.button:active {
    background-color: #735CDD;
}
