html, body {
    font-family: 'arial';
}

.header {
    background: green;
    height: 100px;
    margin-bottom: 10px;
}

.notes {
    float: left;
    width: 20%;
}

.inner-notes {
    background: green;
    min-height: 600px;
}


.content {
    float: left;
    width: 80%;
}

.inner-content {
    background: white;
    margin-left: 10xp;
    min-height: 600px;
    margin-left: 10px;
}

.footer {
}

.inner-footer {
    background: black;
    color: white;
    margin-top: 10px;

}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.logo {
	background: url('../images/logo.png') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
}


.input_text {
	border-radius: 10px;
	cols: 60;
	rows: 10;
	height: 300px;
	width: 100%;
}

.buttons {
    border-radius: 7px;
    background-color: Aqua;
    border-style: none;
    margin-top: 5px;
}


.named {
    border-radius: 8px;
    width: 100%;
}

.note-block {
    background-color: #63DAC2;
    height: 300px;
    width: 300px;
    float: left;
    padding: 10px;
    margin-left: 10px;
}
