html, body {
    font-family: 'arial';
    margin: 0px;
}

.header {
    background: #735CDD;
    height: 100px;
    margin-bottom: 5px;
}

.notes {
    float: left;
    width: 20%;
}

.inner-notes {
    background: white;
    border: 2px solid black;
    min-height: 600px;
}


.content {
    float: left;
    width: 80%;
}

.inner-content {
    background: white;
    margin-left: 10xp;
    min-height: 600px;
    margin-left: 10px;
}

.footer {
    height: 32px;
    border-top: 2px solid black;
}

.inner-footer {
    background: FBFEF9;
    margin-top: 10px;
    height: 32px;
    float: right;
    margin-right: 15px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.logo {
	background: url('../images/logo.png') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
}


.input_text {
	border-radius: 10px;
	cols: 60;
	rows: 10;
	height: 300px;
	width: 100%;
}

.button {
    border-radius: 12px;
    border-style: none;
    margin-top: 5px;
    width: 100%;
    background-color: white;
}

.button:hover {
      background-color:#ccc6c6;
      transition: 0.7s;
 }

.button:active {
    background-color: #735CDD;
}

.rbutton {
    border-radius: 12px;
    background-color: white;
    border-style: none;
    margin-top: 5px;
    font-size: 0.9em;
}

.rbutton:hover {
      background-color:#ccc6c6;
      transition: 0.7s;
 }

.rbutton:active {
    background-color: #735CDD;
}

.named {
    border-radius: 8px;
    width: 100%;
}

.note-block {
    background-color: white;
    border: 3px solid black;
    height: 300px;
    width: 300px;
    float: left;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.user-block {
    float: right;
    margin-right: 10px;
}

#user-block {
    margin-top: 10px;
    font-size: 1.5em;
}

.costyl {
    height: 40px;
}

.menu {
    border: 2px solid black;
    border-radius: 30px;
}

.logo{
    height: 100px;
    width: 100px;
}

#reg {

}